/* Grid section */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

[class*='col-'] {
  margin: 0;
  box-sizing: border-box;
}

.col-1-2 {
  width: calc((100% / 2) - 2rem);
  margin: 1rem;
}

.col-1-3 {
  width: calc((100% / 3) - 2rem);
  margin: 1rem;
}

/* Section Latest news ============================= */
.section-latest-news .row {
  flex-direction: row-reverse;
}

/*** 4. CARD ***/
