/* Section SERVICES ============================= */
.section-services .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-services ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; /* Adds space between list items */
  }
  
  .section-services li {
    background: #f3f3f3;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  